# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl

# Visual Studio
.vs/

# VS Copilot indices
.vs/**/CopilotIndices/

# Project Evaluation cache
ProjectEvaluation/

# VS backup & layout
*.DocumentLayout.json
*.backup.json

# Rider
.idea/

# VS Code
.vscode/

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
*.lock.json
*.cache
artifacts/

# Logs
*.log
*.tlog

# OS-specific
*.DS_Store
Thumbs.db

# Others
*.vsp
*.psess